.molino {
display:flex;
}

.pajaritoh{

}


.text-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  left: 10px;
  bottom: 0px;
  color: #47525E;
  font-family: Lato;
  font-size: 20px;
  line-height: 26px;
  width: 1400px;
  text-align: left;
}


html {
  font-family: "Open Sans", sans-serif;
}
